@import "../utils/variables";

.advance.container {
  display: flex;
  justify-content: center;
}

.description {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 10px;
  padding-right: 10px;

  &-title {
    color: var(--txt-dark);
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
}

.principle {
  width: 100%;

  &-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background-color: var(--b-middle);
    border-radius: 4px;

    margin-bottom: 30px;
  }

  &-example {
    width: 70px;
    height: 70px;
  }

  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .principle {
    width: 354px;
    margin-right: 30px;

    &-icon {
      width: 100%;
    }
    &:nth-child(2n) {
      margin-right: 0;
    }
    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
  }

  .works-box {
    display: flex;
    flex-wrap: wrap;
    flex-basis: calc((100%-30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .advance {
    padding-bottom: 0;
  }

  .principle {
    width: 270px;

    &:not(:last-child) {
      margin-right: 30px;
    }

    &-icon {
      width: 270px;
    }
  }

  .works-box {
    display: flex;
  }
}
