@import "../utils/variables";

.filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin-bottom: 25px;

  &-item:not(:last-child) {
    margin-right: 8px;
  }
}

.btn-portfolio {
  background-color: var(--b-middle);
  color: var(--txt-dark);
  font-weight: 500;
  padding: 6px 22px;
  margin-bottom: 15px;

  transition: color 1s var(--timer);
  transition: background-color 1s var(--timer);

  &:hover {
    background-color: var(--b-blue);
    color: var(--txt-light);
    border: none;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    transform: opasity;
  }
}

/*.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;

  &-item:not(:last-child) {
    margin-right: 8px;
  }
}

.btn-portfolio {
  background-color: var(--b-middle);
  color: var(--txt-dark);
  font-weight: 500;
  padding: 6px 22px;

  transition: color 1s var(--timer);
  transition: background-color 1s var(--timer);

  &:hover {
    background-color: var(--b-blue);
    color: var(--txt-light);
    border: none;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    transform: opasity;
  }

  &:focus {
    background-color: var(--b-blue);
    color: var(--txt-light);
    border: none;
    outline: 1px solid #757575;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    transform: opasity;
  }
}
*/
