@import "../utils/variables";

.logo {
  font-family: var(--secondary-font);
  color: var(--txt-bleu);
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  height: 28px;

  &-dark {
    color: var(--txt-dark);
  }

  &-white {
    color: var(--txt-light);
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
    height: 31px;
  }
}
