@import "../units/variables";

.pictures-box {
  display: flex;
  align-items: center;
}

.picture {
  position: relative;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.shadow-text {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);

  &-descript {
    color: var(--txt-light);
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
}
